venv/
docs/*.txt
__pycache__
sim_build
dump.fst
results.xml
.vscode/
regdump.txt
test.elf
test.hex
test.o
dmemdump.txt
instrdump.txt
gowin/pipelined-riscv-cpu/pipelined-riscv-cpu.gprj
gowin/pipelined-riscv-cpu/pipelined-riscv-cpu.gprj.user
gowin/pipelined-riscv-cpu/impl